archive/
*.zip
*.h5

NVFlare/workspace/example_project/prod_00/server1
NVFlare/workspace/example_project/prod_00/site-1
NVFlare/workspace/example_project/prod_00/site-2
NVFlare/workspace/example_project/prod_00/admin@nvidia.com/local
NVFlare/workspace/example_project/prod_00/admin@nvidia.com/startup
NVFlare/workspace/example_project/prod_00/admin@nvidia.com/.admin_cli_history
NVFlare/workspace/example_project/resources
NVFlare/workspace/example_project/state

OpenFL/mnist_example
OpenFL/fl_workspace/cert
OpenFL/fl_workspace/data
OpenFL/fl_workspace/save

Flower/__pycache__